{% extends 'base.html' %}

{% block body %}
    <div id="page-content">

        <div class="box-content"><!-----------Content-------------->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    {% for blog in blogs %}
                        <article class="archive-post"><!--Start Article-->
                            <div class="wrap-post">
                                <div class="entry-header">
                                    <h2 class="entry-title"><a href="single.html">{{ blog.get('header') }}</a></h2>
                                </div>
                                <div class="post-thumbnail-wrap">
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="{{ url_for('static', filename='images/' + blog.get('image')) }}"
                                             class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="entry-content">
                                    <p>{{ blog.get('message') | truncate(250) }}</p>
                                    <a class="btn btn-skin" href="{{ url_for('single_archive', _id=blog.get('_id')) }}">Read
                                        More</a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
{% endblock %}