{% extends 'base.html' %}

{% block body %}

    <div id="page-content">
        <!-----------------Content-------------------->
        <div class="box-content">
            <div class="clearfix">

                {% for image in images %}
                    <div class="col-lg-3 col-sm-4 col-md-6">
                        <div class="portfolio-box zoom-effect">
                            <img src="{{ url_for('static', filename='images/' + image.get('image')) }}"
                                 class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-social">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='images/' + image.get('image')) }}"
                                                   data-lightbox="example-set"
                                                   data-title="Click the right half of the image to move forward."><i
                                                    class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}