{% extends 'base.html' %}

{% block body %}
    <div id="page-content">

        <!-- ////////////Content Box 01 -->
        <section class="box-content box-1 box-style-light">
            <div class="heading">
                <h2>About Don't Starve</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <img src="../../static/images/ds08.jpg">
                <p>Don???t Starve is an uncompromising wilderness survival game full of science and
                    magic. </p>
                <p>You play as Wilson, an intrepid Gentleman Scientist who has been trapped by a demon and
                    transported to a mysterious wilderness world. Wilson must learn to exploit his
                    environment
                    and its inhabitants if he ever hopes to escape and find his way back home. </p>
                <p>Enter a strange and unexplored world full of strange creatures, dangers, and surprises.
                    Gather resources to craft items and structures that match your survival style. Play your
                    way
                    as you unravel the mysteries of this strange land.</p>
            </div>
        </section>

        <!-- ////////////Content Box 02 -->
        <section class="box-content box-2 box-style-black">
            <div class="">
                {% for image in images %}
                    <div class="col-lg-3 col-sm-4 col-md-6">
                        <div class="portfolio-box zoom-effect">
                            <img src="{{ url_for('static', filename='images/' + image.get('image')) }}"
                                 class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-social">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li>
                                                <a href="{{ url_for('static', filename='images/' + image.get('image')) }}"
                                                   data-lightbox="example-set"
                                                   data-title="Click the right half of the image to move forward."><i
                                                        class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <!-- ////////////Content Box 03 -->
        <section class="box-content box-3 box-style-light">
            <div class="col-xs-12">
                <div class="heading">
                    <h2>Play Don't Starve On</h2>
                </div>
                <ul class="list-inline text-center">
                    <li><a href="#" class="btn btn-skin">Steam</a></li>
                    <li><a href="#" class="btn btn-skin">Mac</a></li>
                    <li><a href="#" class="btn btn-skin">Linux</a></li>
                    <li><a href="#" class="btn btn-skin">Xbox One</a></li>
                    <li><a href="#" class="btn btn-skin">PS4</a></li>
                    <li><a href="#" class="btn btn-skin">PS3</a></li>
                    <li><a href="#" class="btn btn-skin">PS Vita</a></li>
                    <li><a href="#" class="btn btn-skin">Wii U</a></li>
                    <li><a href="#" class="btn btn-skin">IOS</a></li>
                    <li><a href="#" class="btn btn-skin">Android</a></li>
                </ul>
            </div>
        </section>

    </div>
{% endblock %}

