{% extends 'base.html' %}

{% block body %}

    <div id="page-content">

        <div class="box-content">
            <!-----------------Content-------------------->
            <article class="single-post">
                <div class="wrap-post"><!--Start Box-->
                    <div class="entry-header text-center">
                        <h1 class="entry-title">{{ blog.get('header') }}</h1>
                    </div>
                    <div class="post-thumbnail-wrap">
                        <div class="portfolio-box zoom-effect">
                            <img src="{{ url_for('static', filename='images/' + blog.get('image')) }}"
                                 class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="entry-content">
                        {{ blog.get('message') | safe }}
                    </div>
                </div>
            </article>

        </div>
    </div>

{% endblock %}